// Colors
$primary: #14a874;
$darkGray: #555555;
$lightGray: #a6a6a6;
$bg: #f7f7f7;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

html,
body,
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.pt-10 {
  padding-top: 10px;
}

// Navigation
#navBar {
  width: 100%;
  background: white;
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .navItem {
      color: $darkGray;
      text-decoration: none;
      padding: 10px 20px;
      text-transform: uppercase;
      transition: all ease 0.3s;
      &:hover {
        color: $primary;
      }
    }
    .btn-calc {
      border: 2px solid $darkGray;
      padding: 10px 20px;
      border-radius: 3px;
      color: $darkGray;
      text-decoration: none;
      text-transform: uppercase;
      transition: all ease 0.3s;
      &:hover {
        background: $primary;
        color: white;
        border: 2px solid $primary;
      }
    }
    svg {
      width: 250px;
    }
  }
}

// Header
#header {
  background: $bg;
  background: linear-gradient(white, $bg);
  padding: 100px 0;
  .headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 2rem;
      color: $darkGray;
      font-weight: 400;
      padding-bottom: 10px;
    }
    h2 {
      font-size: 1.125rem;
      color: $primary;
      font-weight: 400;
    }
  }
}

// Main area
#calculator {
  padding: 100px 0;
  background: $bg;
  .calcArea {
    display: flex;
    .calcInputs {
      width: 50%;
      padding-right: 30px;
      h2 {
        color: $primary;
        font-size: 1.375rem;
        padding-bottom: 5px;
      }
      .helper {
        font-style: italic;
        color: $lightGray;
      }
      .helper2 {
        font-style: italic;
        color: $lightGray;
        padding-top: 5px;
      }
      .singleInput {
        width: 100%;
        padding: 15px 0;
        h3 {
          padding-bottom: 5px;
          font-size: 1.125rem;
          font-weight: 500;
        }
        input {
          width: 100%;
          padding: 15px;
          border: 1px solid #eeeded;
          border-radius: 5px;
          font-size: 1rem;
        }
      }
    }
    .calcResults {
      width: 50%;
      padding-left: 30px;
      .resultBox {
        background: white;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #eeeded;
        box-shadow: 0px 5px 15px rgba(85, 85, 85, 0.1);
        h2 {
          font-size: 1.375rem;
          color: $darkGray;
        }
        hr {
          padding: 0;
          margin: 20px 0;
          border: 1px solid #eeeded;
        }
        .whiteLine {
          background: white;
          padding: 5px 20px;
        }
        .grayLine {
          background: $bg;
          padding: 5px 20px;
        }
        .split {
          display: flex;
          justify-content: space-between;
          .resultTitle {
            font-weight: 500;
          }
        }
        h3 {
          color: $primary;
          font-size: 1.125rem;
          padding-bottom: 10px;
        }
        .result {
          border: none;
          padding: 0;
          margin: 0;
          text-align: right;
          font-size: 1rem;
          width: 100%;
          background: none;
        }
        .liquidResult {
          border: none;
          padding: 0;
          margin: 0;
          text-align: right;
          font-size: 1.125rem;
          width: 100%;
          background: none;
          color: $primary;
        }
        .calBtns {
          display: flex;
          justify-content: space-evenly;
          flex-direction: row-reverse;
          .restore {
            background: $bg;
            color: $lightGray;
            padding: 10px 25px;
            border: none;
            border-radius: 5px;
            font-size: 1.125rem;
            text-transform: uppercase;
            display: flex;
            transition: all ease 0.3s;
            cursor: pointer;
            &:hover {
              background: darken($bg, 7%);
            }
          }
          .calcBtn {
            background: $primary;
            color: white;
            padding: 10px 25px;
            border: none;
            border-radius: 5px;
            font-size: 1.125rem;
            text-transform: uppercase;
            display: flex;
            transition: all ease 0.3s;
            cursor: pointer;
            &:hover { 
              background: darken($primary, 7%);
              box-shadow: 0px 5px 10px rgba(85, 85, 85, 0.25);
            }
          }
        }
      }
    }
  }
}

g {
  fill: #000000;
}

.extendDec {
  background: none;
  font-size: 1rem;
  border: none;
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  color: $lightGray;
  border-bottom: 1px solid white;
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid $lightGray;
  }
}

.examples {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

.exampleBtn {
  background: none;
  border: 1px solid $lightGray;
  padding: 10px;
  color: $lightGray;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all ease 0.3s;
  cursor: pointer;
  &:hover {
    background: $lightGray;
    color: white;
  }
}


footer {
  background: linear-gradient($bg, white);
  padding-bottom: 50px;
  .logo {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .social {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    padding-bottom: 25px;
    img {
      width: 35px;
    }
  }
  .copyright {
    display: flex;
    justify-content: center;
    p {
      font-size: 0.75rem;
      opacity: 0.5;
    }
  }
}