// Colors
$primary: #14A874;
$darkGray: #555555;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

html, body, h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

#navBar {
    width: 100%;
    background: white;
    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        .navItem {
            color: $darkGray;
            font-size: 1rem;
            text-decoration: none;
            padding: 10px 20px;
            text-transform: uppercase;
        }
        .btn-calc {
            border: 2px solid $darkGray;
            padding: 10px 20px;
            border-radius: 3px;
            color: $darkGray;
            font-size: 1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}